<section class="route">
	<div class="primary">
		<h2>List {{ page.resource }}s</h2>
		{% assign args = include.route.endpoints[0].args %}
		{% include reference-parts/args-list.html args=args link=false %}
	</div>
	<div class="secondary">
		<h3>Definition</h3>

		<code>GET {{ include.route.nicename }}</code>

		<h3>Example Request</h3>



    {% if include.route.schema.title == 'post' %}
      {% capture example_include %}reference-parts/examples/list-{{ include.route.schema.title }}-curl.html{% endcapture %}
      {% include {{ example_include }} %}
		{% else %}
      <code>$ curl http://demo.wp-api.org/wp-json{{ include.route.nicename }}</code>
    {% endif %}

	</div>
</section>
